# Practical L1

For the accompanying course - see [Python Module 5]()

## Import packages

In [149]:
import pandas as pd
import numpy as np

## Importing data

In [150]:
data_url = 'https://github.com/beoutbreakprepared/nCoV2019/raw/master/covid19/data/clean-hubei.csv'

hubei = pd.read_csv(data_url)

hubei.head()

,id,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,sequence_available,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id
0,1,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
1,2,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
2,3,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
3,4,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
4,5,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100

In [151]:
hubei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10135 entries, 0 to 10134
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        10135 non-null  int64
 1   age                       235 non-null    object
 2   sex                       99 non-null     object
 3   city                      10135 non-null  object
 4   province                  10135 non-null  object
 5   country                   10135 non-null  object
 6   latitude                  10135 non-null  float64
 7   longitude                 10135 non-null  float64
 8   geo_resolution            10135 non-null  object
 9   date_onset_symptoms       95 non-null     object
 10  date_admission_hospital   41 non-null     object
 11  date_confirmation         9306 non-null   object
 12  symptoms                  39 non-null     object
 13  lives_in_wuhan            39 non-null     object
 14  travel_history_dates      0 non-null      float64
 15  travel_history_location   0 non-null      float64
 16  reported_market_exposure  1 non-null      object
 17  additional_information    22 non-null     object
 18  chronic_disease_binary    22 non-null     float64
 19  chronic_disease           21 non-null     object
 20  source                    10135 non-null  object
 21  sequence_available        2 non-null      object
 22  outcome                   42 non-null     object
 23  date_death_or_discharge   41 non-null     object
 24  notes_for_discussion      0 non-null      float64
 25  location                  0 non-null      float64
 26  admin3                    259 non-null    object
 27  admin2                    9877 non-null   object
 28  admin1                    10135 non-null  object
 29  country_new               10135 non-null  object
 30  admin_id                  10135 non-null  int64
dtypes: float64(7), int64(2), object(22)
memory usage: 2.4+ MB

## Refresher: accessing specific rows and columns

In [152]:
#select certain columns
hubei[['id', 'age', 'sex']]

          id    age   sex
0          1  15-88  male
1          2  15-88  male
2          3  15-88  male
3          4  15-88  male
4          5  15-88  male
...      ...    ...   ...
10130  14725    NaN   NaN
10131  14726    NaN   NaN
10132  14727    NaN   NaN
10133  14728    NaN   NaN
10134  14729    NaN   NaN

[10135 rows x 3 columns]

In [153]:
#select certain indices
hubei.loc[10:13]

,id,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,sequence_available,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id
10,11,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
11,12,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
12,13,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
13,14,15-88,male,Wuhan City,Hubei,China,30.596415,114.27978,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100

In [154]:
#select certain columns and indices
hubei.loc[10:13, ['id', 'age', 'sex']]

    id    age   sex
10  11  15-88  male
11  12  15-88  male
12  13  15-88  male
13  14  15-88  male

In [155]:
hubei.iloc[10:13, 1:4]

      age   sex        city
10  15-88  male  Wuhan City
11  15-88  male  Wuhan City
12  15-88  male  Wuhan City

## Indices

In [156]:
#inspect row indices
hubei.index

RangeIndex(start=0, stop=10135, step=1)

## Sorting data

In [157]:
hubei.sort_values('sex')

,id,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,sequence_available,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id
49,50,15-88,female,Wuhan City,Hubei,China,30.596415,114.279780,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
52,53,15-88,female,Wuhan City,Hubei,China,30.596415,114.279780,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
51,52,15-88,female,Wuhan City,Hubei,China,30.596415,114.279780,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
50,51,15-88,female,Wuhan City,Hubei,China,30.596415,114.279780,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
48,49,15-88,female,Wuhan City,Hubei,China,30.596415,114.279780,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10130,14725,NaN,NaN,Qianjiang City,Hubei,China,30.403861,112.886318,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Qianjiang City,NaN,Hubei,China,429005
10131,14726,NaN,NaN,Qianjiang City,Hubei,China,30.403861,112.886318,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Qianjiang City,NaN,Hubei,China,429005
10132,14727,NaN,NaN,Shennongjia Forest District,Hubei,China,31.583333,110.500000,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Shennongjia Forest District,NaN,Hubei,China,429021
10133,14728,NaN,NaN,Shennongjia Forest District,Hubei,China,31.583333,110.500000,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Shennongjia Forest District,NaN,Hubei,China,429021
10134,14729,NaN,NaN,Shennongjia Forest District,Hubei,China,31.583333,110.500000,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Shennongjia Forest District,NaN,Hubei,China,429021

In [158]:
hubei.sort_values('sex', ascending = False)

,id,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,sequence_available,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id
0,1,15-88,male,Wuhan City,Hubei,China,30.596415,114.279780,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
30,31,15-88,male,Wuhan City,Hubei,China,30.596415,114.279780,point,- 18.01.2020,...,NaN,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
32,33,32,male,Wuhan City,Hubei,China,30.596415,114.279780,point,NaN,...,NaN,discharged,16.01.2020,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
234,235,81,male,Wuhan City,Hubei,China,30.596415,114.279780,point,10.01.2020,...,NaN,died,21.01.2020,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
231,232,36,male,Wuhan City,Hubei,China,30.596415,114.279780,point,06.01.2020,...,NaN,died,23.01.2020,NaN,NaN,NaN,Wuhan City,Hubei,China,420100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10130,14725,NaN,NaN,Qianjiang City,Hubei,China,30.403861,112.886318,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Qianjiang City,NaN,Hubei,China,429005
10131,14726,NaN,NaN,Qianjiang City,Hubei,China,30.403861,112.886318,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Qianjiang City,NaN,Hubei,China,429005
10132,14727,NaN,NaN,Shennongjia Forest District,Hubei,China,31.583333,110.500000,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Shennongjia Forest District,NaN,Hubei,China,429021
10133,14728,NaN,NaN,Shennongjia Forest District,Hubei,China,31.583333,110.500000,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Shennongjia Forest District,NaN,Hubei,China,429021
10134,14729,NaN,NaN,Shennongjia Forest District,Hubei,China,31.583333,110.500000,point,NaN,...,NaN,NaN,NaN,NaN,NaN,Shennongjia Forest District,NaN,Hubei,China,429021

In [159]:
hubei = hubei.sort_values('sex')

In [160]:
hubei = hubei.reset_index(drop = True)

In [161]:
hubei.sort_values('sex', ignore_index = True, inplace = True)

## Selecting certain columns

In [162]:
select_columns = ['id', 
                  'age', 
                  'sex', 
                  'city', 
                  'province', 
                  'date_admission_hospital', 
                  'date_confirmation', 
                  'symptoms', 
                  'outcome', 
                  'date_death_or_discharge']

hubei = hubei[select_columns]

## Parsing date formats

In [163]:
pd.to_datetime('02-02-2020') #automatically recognized as a date
pd.to_datetime('02.02.2020', format = '%d.%m.%Y') #specify the format of the date with the format argument

Timestamp('2020-02-02 00:00:00')

In [164]:
pd.to_datetime(hubei['date_confirmation'])

0       2020-01-20
1              NaT
2              NaT
3              NaT
4       2020-01-20
           ...
10130   2020-03-02
10131   2020-03-02
10132   2020-03-02
10133   2020-03-02
10134   2020-03-02
Name: date_confirmation, Length: 10135, dtype: datetime64[ns]

In [165]:
date_cols = ['date_admission_hospital', 'date_confirmation', 'date_death_or_discharge']

hubei[date_cols] = hubei[date_cols].apply(pd.to_datetime)

## Identifying missing data

In [166]:
#check for columns with all null values
hubei.columns[hubei.isna().all()].tolist()

[]

In [167]:
hubei.columns[hubei.isna().any()].tolist()

['age',
 'sex',
 'date_admission_hospital',
 'date_confirmation',
 'symptoms',
 'outcome',
 'date_death_or_discharge']

## Handling missing data

In [168]:
hubei.dropna(axis = 0, subset = ['age'], inplace = True)

In [169]:
hubei['outcome'].replace(np.nan, 'unknown', inplace = True)

In [170]:
hubei['age'] = pd.to_numeric(hubei['age'], errors = 'coerce')
hubei['age'].fillna((hubei['age'].median()), inplace=True)

## regex matching

In [171]:
hubei['city'].value_counts()

Wuhan City                      234
Yuan'an County, Yichang City      1
Name: city, dtype: int64

In [172]:
hubei['city_name'] = hubei['city'].str.extract(r'^([\w\-]+)')
hubei['city_name'].value_counts()

Wuhan    234
Yuan       1
Name: city_name, dtype: int64

In [173]:
hubei['city_name'] = hubei['city'].str.extract(r"(\w*)\s*(?= City)")
hubei['city_name'].value_counts()

Wuhan      234
Yichang      1
Name: city_name, dtype: int64